<!DOCTYPE HTML>

<html>
<head>
    <title>Reteserve: Home</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
</head>
<body class="homepage">

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <header id="header">

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="#" id="logo">Reteserve</a></h1>
                        <span>Get notified when a table is free!</span>
                    </div>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item"><a href="home">Home</a></li>
                            <li><a href="reserve">Reserve</a></li>
                        </ul>
                    </nav>

                </header>

            </div>
        </div>
    </div>
</div>

<!-- Banner Wrapper -->
<div id="banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Banner -->
                <div id="banner" class="box">

                    <div>
                        <div class="row">
                            <div class="7u">
                                <h2>Reteserve</h2>
                                <p>Reserve a table in our restaurant, or get notified once one is free</p>
                            </div>
                            <div class="5u">
                                <ul>
                                    <li><a href="notifications" class="button big fa fa-arrow-circle-right">Notifications</a></li>
                                    <li><a href="reserve" class="button alt big fa fa-question-circle">Check status</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget-thumbnails">
                        <div class="grid">
                            <div class="row no-collapse half">
                                <div class="6u"><a href="http://html5up.net/minimaxing/" class="image image-full"><img src="images/pic04.jpg" alt="" /></a></div>
                                <div class="6u"><a href="http://html5up.net/halcyonic/" class="image image-full"><img src="images/pic05.jpg" alt="" /></a></div>
                            </div>
                            <div class="row no-collapse half">
                                <div class="6u"><a href="http://html5up.net/arcana/" class="image image-full"><img src="images/pic06.jpg" alt="" /></a></div>
                                <div class="6u"><a href="http://html5up.net/zerofour/" class="image image-full"><img src="images/pic07.jpg" alt="" /></a></div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class="8u">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>So what's this all about?</h2>
                        <p>This is Reteserve, where you can ask for a table in our restaurant
                            (with your preferences, of course) and you will get notified when the table is free!</p>
                        <p>Like what you see here? Click the button below to get more info:</p>
                        <a href="http://html5up.net/" class="button fa fa-arrow-circle-right">Read about the details</a>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    &copy; Reteserve. All rights reserved. | Images: <a href="http://fotogrph.com/">fotogrph</a>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
<!--
Verti 2.5 by HTML5 UP
html5up.net | @n33co
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->